.button{
    display: inline-block;
    margin: 1rem 3rem;
    background-color: $green-light;
    padding: 1rem 2rem;
    text-decoration: none;
    color: $gray-dark;
    transition: all .3s;
    font-size: 1.4rem;
    border: none;
    border-radius: 100px;
    transition: all .5s;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    font-size: 2rem;

    &:hover{
        background-color: $white !important;
        color: $gray-dark !important;
        transform: scale(2);
     }
}


#btn-golive{
    @include center;
}


